.colour-picker {
  border: 1px solid #dcdcdc;
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  padding: 0;
}
.color-picker::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0;
}

.column {
  width: 35%;
}

body {
  text-align: center;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin-left: 50%;
}

tr {
  border-spacing: 0;
  height: 25px;
}

td {
  border-spacing: 0;
  min-width: 25px;
  margin: 0px;
  box-sizing: 1px solid #dcdcdc;
}

.tools {
  position: absolute;
  top: 40px;
  border: 2px solid black;
  width: 60px;
  padding: 10px;
  border-radius: 10%;
}

button {
  margin-top: 5px;
}

.tool-icons {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
