#palette {
  position: fixed;
  display: flex;
  flex-direction: row;
  left: 480px;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #f9c0c6;
  width: 1000px;
  height: 80px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#choose-palette {
  display: none;
  position: absolute;
  top: 8px;
  left: 480px;
  z-index: 1;
  width: 1000px;
  height: 300px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #f4c8d9;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f1bcce' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  overflow: auto;
}

.palette-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 10px;
}

.palette-container:hover {
  background-color: #E8A8BE;
  border-radius: 20px;
  width: 972px;
}


