#choose-template {
  
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: "white";
  background-color: rgba(0, 0, 0, 0.4);
}

#template-content {
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  width: 40%;
  border-radius: 10px;
  background-color: #fffae4;
  color: #796d55;
}

#template-icon-container {
  margin: auto;
  width: 500px;
  height: 100px;
}

.template-icon {
  display: inline-block;
  margin: auto;
  background-color: white;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-right: -22px;
}

.template-img {
  margin: auto;
  margin-top: 15px;
}

.speech-bubble {
	position: relative;
	background: #4bbcb1;
  color: #FDFED2;
	border-radius: .4em;
  padding: 5px;
  bottom: 15px;
}

.speech-bubble-1 {
	position: absolute;
	background: #4bbcb1;
  color: #FDFED2;
	border-radius: .4em;
  padding: 5px;
  left: 770px;
  top: 250px;
}

.speech-bubble-1:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #4bbcb1;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

.speech-bubble-2 {
	position: absolute;
	background: #4bbcb1;
  color: #FDFED2;
	border-radius: .4em;
  padding: 5px;
  left: 860px;
  top: 250px;
}

.speech-bubble-2:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #4bbcb1;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

.speech-bubble-3 {
	position: absolute;
	background: #4bbcb1;
  color: #FDFED2;
	border-radius: .4em;
  padding: 5px;
  left: 960px;
  top: 250px;
}

.speech-bubble-3:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #4bbcb1;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

.speech-bubble-4 {
	position: absolute;
	background: #4bbcb1;
  color: #FDFED2;
	border-radius: .4em;
  padding: 5px;
  left: 780px;
  top: 400px;
}

.speech-bubble-4:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #4bbcb1;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

.speech-bubble-5 {
	position: absolute;
	background: #4bbcb1;
  color: #FDFED2;
	border-radius: .4em;
  padding: 5px;
  left: 915px;
  top: 400px;
}

.speech-bubble-5:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #4bbcb1;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

.speech-bubble-6 {
	position: absolute;
	background: #4bbcb1;
  color: #FDFED2;
	border-radius: .4em;
  padding: 5px;
  left: 1055px;
  top: 400px;
}

.speech-bubble-6:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #4bbcb1;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

.templates {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}